<div class="container">
    <div class="row">
        <div class="col-lg-4 text-center" style="margin-top: 80px">
            <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;"
                 src="static/img/home/max.jpg">

            <h2>Max Lau</h2>

            <p>Hey!I'm Max,a Web developer,Drummer and Photographer from Beijing.</p>
            <!--<p><a class="btn btn-default" href="#" role="button">View details »</a></p>-->
        </div>
    </div>
</div>

<div class="container text-center">
    <a href="https://github.com/Max-Liu">
        <img src="static/img/home/github.png" alt="github">
    </a>

    <a href="http://weibo.com/liunan1321">
        <img src="static/img/home/sina.png" alt="weibo">
    </a>

    <a href="https://twitter.com/vmax">
        <img src="static/img/home/twitter.png" alt="twitter">
    </a>

    <a href="https://www.facebook.com/max.lau.1806">
        <img src="static/img/home/facebook.png" alt="facebook">
    </a>

    <a href="http://cn.linkedin.com/pub/max-liu/33/b58/204/">
        <img src="static/img/home/linkedin.png" alt="linkedin">
    </a>

</div>

<div class="container text-center" style="margin-top:20px">
    <p style="margin-bottom: -20px"><b>Skills:</b>PHP,Golang,MySQL,Redis,Terminal</p>
</div>
<div class="container" style="min-width: 200;max-width: 500px">
    <div class="panel panel-default">
        <div class="panel-body">

            <h3 style="margin-top: 1px">Experience</h3>

            <hr/>

            <ul>
                <li>PHP Intern at Ninetowns. <b> Dic 2011 - Mar 2012</b></li>
                <li>PHP Intern at <a href="http://www.geekpark.net">Geekpark</a>.Participated development of Routine
                    System and Conference System <b>Mar 2012 - June 2012</b>.
                </li>
                <li>PHP Developer at <a href="http://www.geekpark.net">Geekpark</a>.<b>July 2012 - July 2013</b></li>
                <li>PHP Developer at <a href="http://www.lpiii.cn">LPI Studio</a>.<b>Oct 2013 - Now</b></li>
            </ul>
        </div>
    </div>
</div>